# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Autoconfig - automake stuff
autom4te.cache/

# Other files
*.zip
*.dat
*.cmplx
.*.swp
*.log
*.aux
*.dvi
*.lof
*.bak
*.odt
*.out
