# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Other files
*.zip
*.dat
.*.swp
*.log
*.aux
*.dvi
*.lof
*.bak
*.odt
*.out
